body {
    --wallpaper: url("/home/lu/Pictures/wall.png");

    /* Special */
    --background: #0E0D0E;
    --foreground: #d8b4c2;
    --cursor: #d8b4c2;

    /* Colors */
    --color0: #0E0D0E;
    --color1: #3E4155;
    --color2: #56476E;
    --color3: #864C70;
    --color4: #4C4084;
    --color5: #675798;
    --color6: #9169A0;
    --color7: #d8b4c2;
    --color8: #977d87;
    --color9: #3E4155;
    --color10: #56476E;
    --color11: #864C70;
    --color12: #4C4084;
    --color13: #675798;
    --color14: #9169A0;
    --color15: #d8b4c2;
}

img {
    display:block;
    margin: auto;
    margin-top: 5%;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

h1 {
  text-align: center;
}
